__pycache__
*~
.DS_Store
server/output
.project
.pydevproject
.settings/
.vscode/
data/test_images/2018/cube/1455208244.27.jpg
data/test_images/2019/
server/output_dir/
data/calibration/c930e_320x180_2019-01-30
data/calibration/c930e_424x240_2019-01-30
